---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import Main from '../../layouts/main.astro';

export async function getStaticPaths() {
	const posts = await getCollection('thoughts');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'thoughts'>;

const post = Astro.props;
const { Content } = await post.render();
---
<Main title="" description=''>
	<Content />
</Main>
