<div>
  <p>i like software development and elegant code, maps and insightful visualisations.</p>
  <p>i LOVE combinations of the above - where design meets data and forms art!</p>
  <p>i am an alumni of <a href="http://www.devacademy.co.nz">Enspiral Dev Academy</a>, where i spent 18 weeks learning to create with .NET and JS, working solo and in teams.</p>
  <p>i've previously worked with Python, particularly with regard to interfacing with GIS applications (ESRI and open-source).</p>
  <p>i'm a huge fan of <a href="http://worrydream.com/">people</a> and <a href="http://mapbox.com">places</a> pushing boundaries with <a href="http://www.airside.co.uk/">beautiful</a> <a href="http://www.thedesignersrepublic.com/">creations</a> - if you know of others, or want to make some great stuff, get in touch!</p>
</div>
