---
import Main from "../layouts/main.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from '../constants';
---
<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="mt-12 flex w-full gap-12">
		<form class="flex flex-col items-start w-1/2">
			<textarea
				id="ask-textarea"
				required
				placeholder="Ask a question about Iain, his thoughts, projects..."
				rows="1"
				class="py-1 w-full text-sm focus-visible:outline-none focus-visible:shadow-bottom-ring disabled:cursor-not-allowed disabled:opacity-50 resize-none appearance-none bg-none"
			/>
			<button id="ask" class="group pt-2 font-medium text-sm transition-colors duration-100 ease-linear focus-visible:outline-none focus-visible:shadow-bottom-ring hover:text-red-500/80 disabled:pointer-events-none disabled:opacity-50">
				submit
				<span class="block h-[2px] w-0 bg-foreground transition-all duration-200 group-hover:w-full group-hover:bg-red-500/80">
				</span>
			</button>
		</form>
		<div id="ask-output-container" class="pt-1 flex flex-col w-1/2 text-sm" />
	</div>
</Main>

<script>
	const askButton = document.getElementById('ask');
	const input = document.getElementById('ask-textarea') as HTMLTextAreaElement | null;
	const outputContainer = document.getElementById('ask-output-container');

	if (askButton && input && outputContainer) {
		askButton.addEventListener('click', e => {
			e.preventDefault()
			if (input.value) {
				fetch('/ask', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ prompt: input.value })
				})
					.then(response => response.json())
					.then(data => {
						outputContainer.innerHTML += ` ${data.answer}`;
						input.value = '';
					})
					.catch(error => {
						outputContainer.innerHTML += error;
						input.value = '';
					});
			}
		});
	}

	// handle textarea auto-vertical-resize
	if (input) {
		input.addEventListener('input', function () {
			input.style.height = 'auto';
			input.style.height = `${input.scrollHeight}px`
		});
	}
</script>
