---
import Main from "../layouts/main.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from '../constants';
---
<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="mt-12 flex flex-col w-full">
		<h1 class="font-semibold">Projects</h1>
	</div>
</Main>