---
export const prerender = false;
export const partial = true;

// only able to use partial as a response to a POST
if (Astro.request.method !== "POST") {
  return Astro.redirect(null, 404);
}

// N.B. superseeded by using streaming SSE on browser instead
const formData = await Astro.request.formData()
const prompt = formData.get('prompt')

---
<div class="py-4 flex flex-col md:flex-row w-full gap-6 md:gap-12 border-t-2 border-black">
	<div class="flex flex-col w-full md:w-1/2">
		<h4 class="font-bold mb-2 md:mb-4">question:</h4>
		<p class="text-sm italic">
			{prompt}
		</p>
	</div>
	<div class="flex flex-col w-full md:w-1/2">
		<h4 class="font-bold mb-2 md:mb-4">answer:</h4>
		<p class="text-sm generated-answer" />
		<p class="text-xs text-gray-500 mt-2 answer-reference" />
	</div>
</div>
