---
import NavLink from './NavLink.astro';

import { SITE_TITLE } from '../constants';
---

<header class="flex w-full">
	<nav class="py-8 px-6 md:px-12 flex flex-col md:flex-row w-full items-start md:items-center justify-between">
		<a class="transition-colors duration-100 ease-linear hover:text-red-500/80 focus-visible:outline-none focus-visible:shadow-bottom-ring" href="/">
			<h2 class="font-semibold">{SITE_TITLE}</h2>
		</a>
		<ul class="flex gap-8 mt-2 md:mt-0">
			<li>
				<NavLink href="/thoughts">thoughts</NavLink>
			</li>
			<!-- <li>
				<NavLink href="/projects">projects</NavLink>
			</li> -->
			<li>
				<NavLink href="/about">about</NavLink>
			</li>
		</ul>
	</nav>
</header>