---
import NavLink from './NavLink.astro';

import { SITE_TITLE } from '../constants';
---

<header class="flex w-full">
	<nav class="py-8 px-6 md:px-12 flex flex-row w-full items-center justify-between">
		<a class="group transition-colors duration-100 ease-linear focus-visible:outline-none focus-visible:shadow-bottom-ring" href="/">
			<h2 class="font-semibold">{SITE_TITLE}</h2>
			<span class="block h-[2px] w-0 bg-foreground transition-all duration-200 group-hover:w-full group-hover:bg-red-500/80"></span>
		</a>
		<ul class="flex gap-4 md:gap-8 mt-0">
			<li>
				<NavLink href="/thoughts">thoughts</NavLink>
			</li>
			<!-- <li>
				<NavLink href="/projects">projects</NavLink>
			</li> -->
			<li>
				<NavLink href="/about">about</NavLink>
			</li>
		</ul>
	</nav>
</header>
