<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="page-content">

      <div class="globe wrapper"></div>

      <div class="wrapper">
        <div class="instructions">
          <!-- <p>(drag)</p> -->
        </div>
        <div class="title">
          <h1>iainkirkpatrick.me</h1>
        </div>
        <div class="nav">
          <!-- Nav tabs -->
          <ul id="navTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab"><h3>about</h3></a></li>
            <li role="presentation"><a href="#blog" aria-controls="blog" role="tab" data-toggle="tab"><h3>blog</h3></a></li>
            <li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab"><h3>projects</h3></a></li>
          </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="about">
            {% include about.html %}
          </div>
          <div role="tabpanel" class="tab-pane fade" id="blog">
            {% include blog.html %}
          </div>
          <div role="tabpanel" class="tab-pane fade" id="projects">
            {% include projects.html %}
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
