<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  {% include header.html %}
    <div class="page-content">

      <div class="globe wrapper"></div>

      <div class="wrapper">
        <div class="title">
          <h1>iainkirkpatrick.me</h1>
        </div>
        <div class="nav">
          <!-- <ul id="navTabs" class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
          </ul> -->

          <!-- Nav tabs -->
          <ul id="navTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">ABOUT</a></li>
            <li role="presentation"><a href="#blog" aria-controls="blog" role="tab" data-toggle="tab">BLOG</a></li>
            <li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">PROJECTS</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="about">
              {{ content }}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="blog">
              {% include footer.html %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="projects">...</div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
